<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>

<body>
<script>
    function fcm() {
        let url = "/fcm";
        let title = document.querySelector('#title').value;
        console.log(title)
        let body = document.querySelector('#body').value;
        console.log(body)
        let token = document.querySelector('#token').value;
        console.log(token)

        let data = {
            'title' : title,
            'body' : body,
            'token' : token
        };

        fetch(url ,{
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(res => res.json())
    }
</script>
<form>
    <label for="title">알림 제목</label>
    <input id="title" name="title" type="text" placeholder="알림제목을 입력하세요">
    <label for="body">알림 내용</label>
    <input id="body" name="body" type="text" placeholder="알림내용을 입력하세요">
    <input id="token" name="token" type="hidden">
    <button onclick="fcm()">전송</button>
</form>

  <div id="alarmZone">
      <p>알람영역</p>
  </div>
</body>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script>

    firebase.initializeApp({
        apiKey: "AIzaSyAQuC4dWSBUz4F1tnVn8MmvfrTbKnbcMWg",
        authDomain: "fcmtest-8ea73.firebaseapp.com",
        projectId: "fcmtest-8ea73",
        storageBucket: "fcmtest-8ea73.appspot.com",
        messagingSenderId: "327970754149",
        appId: "1:327970754149:web:0330f48916620df3fe408c",
        measurementId: "G-EGW7NBQKR8"
    });

    // Initialize Firebase Cloud Messaging and get a reference to the service
    const messaging = firebase.messaging();

    console.log('Requesting permission...');
    messaging.requestPermission()
        .then(function() {
            console.log('Getting token')
            return messaging.getToken();
        })
        .then(async function(token) {
            console.log('web token :::', token);
            $("#token").val(token);

            messaging.onMessage(payload => {
                console.log(payload);
                const title = payload.notification.title;
                const body = payload.notification.body;
                console.log('title :::: ', title);
                console.log('body ::::: ', body);

                var html = '';
                html += '<div class="notification" role="alert">';
                html += '<p class="title">'+title+'</p>';
                html += '<p class="body">'+body+'</p>';
                html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
                html += '<span aria-hidden="true">닫기</span>';
                html += '</button>';
                html += '</div>';
                $("#alarmZone").append(html);
            })
        })
</script>
</html>