<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div th:if="${user} == ''">
        <span>안녕하세요 회원가입 또는 로그인 해주세요</span>
        <a id="signup" href="/user/signup">
            회원가입
        </a>
        <a id="login" href="/user/login">
            로그인
        </a>
    </div>
    <div th:unless="${user} == ''">
        <div id="header-title-login-user">
            <span th:text="${user.nickname}"></span>님 환영합니다~!
        <a id="logout-text" href="/user/logout">
            로그아웃
        </a>
    </div>
</div>
</body>
</html>