spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:springminiprojectdb
    username: sa
    password:

#goole Oauth
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 
            clientSecret:
            scope:
              - email
              - profile

#token secret key
jwt:
  token:
    key: abcdefghijklm


